/* ----------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
* Custom Website Fonts
* ------------------------------------------------------------------------- */

$font_basic: 'Roboto', 'Arial', 'Open Sans', sans-serif;

/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$tc_basic: #49555c;
$tc_hover: #4d565d;
$tc_active: #4c565f;
$tc_further: #b1ab90;
$tc_further_light: #bead81;

$bc_basic: #af9a63;
$bc_hover: #b38f30;
$bc_further_light: #44555f;
$bc_further_dark: #2e3337;
